/***
 *     ██████  ███████ ███    ██ ███████ ██████   █████  ██      
 *    ██       ██      ████   ██ ██      ██   ██ ██   ██ ██      
 *    ██   ███ █████   ██ ██  ██ █████   ██████  ███████ ██      
 *    ██    ██ ██      ██  ██ ██ ██      ██   ██ ██   ██ ██      
 *     ██████  ███████ ██   ████ ███████ ██   ██ ██   ██ ███████ 
 *                                                               
 *                                                               
                                                        
 *                                                               
 */
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/***
 *    ███    ██  █████  ██    ██ ██████   █████  ██████  
 *    ████   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██   ██ 
 *    ██ ██  ██ ███████ ██    ██ ██████  ███████ ██████  
 *    ██  ██ ██ ██   ██  ██  ██  ██   ██ ██   ██ ██   ██ 
 *    ██   ████ ██   ██   ████   ██████  ██   ██ ██   ██ 
 *                                                       
 *                                                       
 */

nav {
  height: 79px;
}

nav a {
  margin-left: 68px;
  display: inline-block;
}

.lien-nav {
  padding-top: 16px;
}

.lien-nav:hover {
  color: var(--main-color);
  padding-top: 14px;
  border-top: #0065fc solid 2px;
}

.navbar-logo {
  height: 19px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/***
 *    ██ ███    ██ ███████  ██████         ██████  ██████   ██████  ██    ██ ██████  
 *    ██ ████   ██ ██      ██    ██       ██       ██   ██ ██    ██ ██    ██ ██   ██ 
 *    ██ ██ ██  ██ █████   ██    ██ █████ ██   ███ ██████  ██    ██ ██    ██ ██████  
 *    ██ ██  ██ ██ ██      ██    ██       ██    ██ ██   ██ ██    ██ ██    ██ ██      
 *    ██ ██   ████ ██       ██████         ██████  ██   ██  ██████   ██████  ██      
 *                                                                                   
 *                                                                                   
 */

.info-group {
  margin-bottom: 35px;
}

/*****headline******/
.info-group-headline * {
  margin: 0;
}

.info-group-headline {
  margin-bottom: 35px;
}

.info-group-headline h2 {
  margin-bottom: 8px;
}

/*****searchbar******/
.info-group-searchbar {
  margin-bottom: 35px;
}

.fa-location-dot {
  color: #000000;
  padding-right: 20px;
  padding-left: 20px;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.button-searchbar-pin {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 15px 0px 0px 15px;
  border: var(--main-bg-color) solid 1px;
  height: 49px;
  padding: 0px;
}

.button-searchbar-pin input::placeholder {
  color: var(--Black, #000);
}

.button-container input {
  display: flex;
  border: 1px solid var(--main-bg-color, #f2f2f2);
  height: 47px;
  padding: 0px;
  color: var(--Black, #000);
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  padding-left: 24px;
}

.button-searchbar-search {
  border: none;
  color: white;
  background-color: var(--main-color);
  border-radius: 0px 15px 15px 0px;
  padding: 0px 16px;
  font-weight: 600;
  font-size: 18px;
}

.button-searchbar-magnifying-glass {
  border: none;
  background-color: var(--main-color);
  border-radius: 15px 15px 15px 15px;
  padding: 0px 16px;
  font-weight: 600;
  font-size: 18px;
  display: none;
}

.fa-magnifying-glass {
  color: white;
}

/*****filterbar******/
.info-group-filterbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 35px;
}

.info-group-filterbar h3 {
  margin-right: 15px;
}

.filterbar-container {
  display: flex;
}

.filterbar-filter {
  display: flex;
  align-items: center;
  border: var(--main-bg-color) solid 2px;
  padding: 0px 19px 0px 19px;
  border-radius: 30px;
  margin-right: 15px;
  height: 50px;
}

.filterbar-filter p {
  font-size: 1.17em;
  font-weight: bold;
  padding: 0px 0px 0px 10px;
  margin: 0px;
}

.filterbar-filter:hover {
  background-color: var(--filter-bg-color);
}

/************** Info group infobar *************/

.info-group-infobar {
  display: flex;
  align-items: center;
}

.fa-info {
  color: var(--main-color);
  margin-right: 10px;
  border: var(--main-bg-color) solid 1px;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
}

#picto-info {
  font-size: 1em;
}

/***
 *    ██   ██ ███████ ██████  ███████ ██████   ██████  ███████ ███    ███ ███████ ███    ██ ████████        ██        ██████   ██████  ██████  ██    ██ ██       █████  ██ ██████  ███████ ███████ 
 *    ██   ██ ██      ██   ██ ██      ██   ██ ██       ██      ████  ████ ██      ████   ██    ██           ██        ██   ██ ██    ██ ██   ██ ██    ██ ██      ██   ██ ██ ██   ██ ██      ██      
 *    ███████ █████   ██████  █████   ██████  ██   ███ █████   ██ ████ ██ █████   ██ ██  ██    ██        ████████     ██████  ██    ██ ██████  ██    ██ ██      ███████ ██ ██████  █████   ███████ 
 *    ██   ██ ██      ██   ██ ██      ██   ██ ██    ██ ██      ██  ██  ██ ██      ██  ██ ██    ██        ██  ██       ██      ██    ██ ██      ██    ██ ██      ██   ██ ██ ██   ██ ██           ██ 
 *    ██   ██ ███████ ██████  ███████ ██   ██  ██████  ███████ ██      ██ ███████ ██   ████    ██        ██████       ██       ██████  ██       ██████  ███████ ██   ██ ██ ██   ██ ███████ ███████ 
 *                                                                                                                                                                                                 
 *                                                                                                                                                                                                 
 */
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65.5%;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.hebergements-cards .card {
  display: flex;
  margin-top: 33px;
  flex-direction: column;
  width: 250px;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.hebergements-cards h3 {
  margin-top: 30px;
  margin-bottom: 0px;
  display: inline-block;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/***
 *     █████   ██████ ████████ ██ ██    ██ ██ ████████ ███████ ███████ 
 *    ██   ██ ██         ██    ██ ██    ██ ██    ██    ██      ██      
 *    ███████ ██         ██    ██ ██    ██ ██    ██    █████   ███████ 
 *    ██   ██ ██         ██    ██  ██  ██  ██    ██    ██           ██ 
 *    ██   ██  ██████    ██    ██   ████   ██    ██    ███████ ███████ 
 *                                                                     
 *                                                                     
 */

.activites {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.activites-title {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activites section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.activites-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activites-cards .card {
  width: 23%;
  padding: 0px;
  padding-bottom: 20px;
}

.activites-cards img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.activites-cards .card-content {
  padding-left: 15px;
}

.activites-cards .card-title {
  margin-top: 20px;
  margin-bottom: 0px;
}

/***
 *    ███████  ██████   ██████  ████████ ███████ ██████  
 *    ██      ██    ██ ██    ██    ██    ██      ██   ██ 
 *    █████   ██    ██ ██    ██    ██    █████   ██████  
 *    ██      ██    ██ ██    ██    ██    ██      ██   ██ 
 *    ██       ██████   ██████     ██    ███████ ██   ██ 
 *                                                       
 *                                                       
 */

.footer {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  margin-top: 35px;
}

.section-footer h3 {
  margin-bottom: 15px;
  margin-top: 0px;
}

.liens-footer {
  display: block;
  margin-bottom: 15px;
}

.div-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 35px;
}

.section-footer {
  width: 30%;
  margin-left: 20px;
}

/***
 *    ███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
 *    ████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
 *    ██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
 *    ██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
 *    ██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 
 *                                                  ▀▀                                               
 *                                                                                                   
 */
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites-cards {
    gap: 30px;
  }

  .activites-cards img {
    height: 200px;
  }

  .info-group-filterbar {
    flex-direction: column;
    align-items: start;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: /*767.98px*/768px) {
  body {
    margin: 0px;
  }

  .main-container {
    padding: 0px;
  }
  /*navbar******/
  nav {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  nav a {
    display: flex;
  }

  .lien-nav {
    margin: 0px;
    width: 50%;
    padding-top: 0px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    border-bottom: #f2f2f2 solid 2px;
  }

  .lien-nav:hover {
    color: var(--main-color);
    border-top: none;
    border-bottom: #0065fc solid 2px;
    padding-bottom: 15px;
    padding-top: 0px;
  }

  .navbar-logo {
    margin-left: 0px;
    margin-right: 0px;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  /*info-group******/
  .info-group {
    padding-left: 20px;
    padding-right: 20px;
  }

  .info-group-headline h2 {
    font-size: 22px;
  }

  .info-group-headline p {
    font-size: 16px;
  }

  .button-searchbar-search {
    display: none;
  }

  .button-container {
    display: flex;
  }

  .button-searchbar-magnifying-glass {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 9px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .button-searchbar-pin input {
    text-align: left;
    padding-left: 24px;
  }

  .filterbar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .info-group-filterbar h3 {
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .filterbar-filter {
    font-size: 14px;
    margin-bottom: 20px;
    margin-right: 0px;
    width: 35%;
    gap: 10px;
  }

  .romantique-filter,
  .nos-pepites-filter {
    margin-bottom: 0px;
  }

  .filterbar-filter p {
    padding: 0px;
  }

  .info-group-infobar {
    font-size: 16px;
  }

  .info-group-infobar p {
    margin-bottom: 0px;
  }

  .fa-info {
    padding: 5px 9px 5px 9px;
  }

  #picto-info {
    font-size: 0.7em;
  }

  /***Hebergements et populaires***/

  .hebergements-and-populaires section {
    border-radius: 0px;
    padding: 20px;
  }

  #section-hebergements {
    order: 2;
  }

  #section-populaires {
    order: 1;
  }

  #section-populaires {
    margin-top: 0px;
    padding: 30px 20px 30px 20px;
    margin-bottom: 15px;
  }

  /*hebergements*/

  .hebergements-cards {
    flex-direction: column;
  }

  .hebergements-cards .card {
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box; /*pour que le padding soit pris en compte dans la largeur*/
  }

  #section-hebergements {
    background-color: #fff;
  }

  /*populaires*/

  .populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 100%;
  }

  /*activités*/

  .activites-cards {
    flex-direction: column;
    gap: 15px;
  }

  .activites-cards .card {
    width: 100%;
  }

  .activites-cards .card-content {
    padding-left: 19px;
  }

  /*footer*/

  .div-footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .section-footer {
    width: 100%;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .div-footer :last-child {
    margin-bottom: 0px;
  }
}
